doctype html
html
    head
        title Bitinvo Update Server
    body(style='text-align:center;')
        h2 智能枪弹柜系统升级服务器
        p 
          |文件状态 ：#{fileStatus}  
          input(type='button', value='重新启动', onclick='location.reload()')
        p 升级地址 ：#{networkStatus}
        p 使用说明：在本服务器同级目录resources文件夹中建立update文件夹，将升级文件（*.des3）存入update文件夹，文件状态为检测成功时即可在待升级柜机升级页面上输入本界面显示的升级地址。